html {
  background-color: #77a4ce;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px white;
}
.gridcontainer {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background-color: black;
  padding: 10px;
  grid-gap: 10px;
  text-shadow: 2px 2px black;
}

.griditem {
  background-color: grey;
  padding: 20px 0;
  font-size: 30px;
  color: white;
  text-align: center;
}
